#logged-in {
  text-align: center;

  .stats {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-left: none;
    transform: translate(-5%, -20%);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    user-select: none;
    pointer-events: none;
  }


  .profilebutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(22, 143, 22);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    

    &:hover {
      transform: scale(1.1);
    }
  }

}