.panel,
.imgPanel {
  margin: 8px;
  border-radius: 10px;
  background-color: rgb(34, 34, 34) !important;
  color: rgb(231, 231, 231);
  box-sizing: border-box;
}

.panel {
  padding: 15px;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.98);
}

.imgPanel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 60px;
  height: 60px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.98);
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;
  }
}

.shop-btn{
  position: absolute;
  user-select: none;
  transform-origin: left;
  cursor: pointer;

  img {
    height: auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}

.tipCard {
  padding: 7px;
  font-size: 13px;
  width: 75%;
  margin: auto;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 100%;
}

.inventory-btn{
  position: absolute;
  user-select: none;
  transform-origin: left;
  cursor: pointer;

  img {
    height: auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}

.leaderboard-btn{
  position: absolute;
  user-select: none;
  transform-origin: left;
  cursor: pointer;

  img {
    height: auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}

.rewards-btn{
  position: absolute;
  user-select: none;
  transform-origin: left;
  cursor: pointer;

  img {
    height: auto;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  pointer-events: none;
  height: 50px;
  color: rgb(231, 231, 231);
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;

  a {
    font-size: 30px;
    text-decoration: underline;
    pointer-events: auto;
  }

}

.game-buttons {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  transform-origin: top left;

  .game-btn {
    transform: translateX(-210px);
    margin-bottom: 10px;
    height: 130px;
    margin-right: 5px;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateX(-170px);
      cursor: pointer;
    }
  }
}

.auth-buttons {
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  transform-origin: top right;

  .dropdown {

    .dropdown-menu {
      background-color: rgb(20, 20, 20) !important;
      box-shadow:  0 0 0 3px rgba(47, 47, 47, 0.98);
      padding: 12px 16px;
      border-radius: 10px;
      margin-right: 20px;
      margin-left: 10px;
      user-select: none;
      display: none;
      text-align: left;

      li {
        list-style: none;
        margin-bottom: 10px;
      }

      .dropdown-item {
        font-size: 18px;
        color: green;
        transition-duration: 0.2s;

        &:hover {
          color: rgb(0, 172, 0);
        }

        &:active {
          background-color: transparent;
          color: unset;
        }
      }
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .auth-username {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(20, 20, 20) !important;
    box-shadow:  0 0 0 3px rgba(47, 47, 47, 0.98);
    color: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 10px 20px;
  }
  .auth-btn {
    transform: translateX(55%);
    margin-bottom: 10px;
    height: 110px;
    margin-right: 5px;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateX(40%);
      cursor: pointer;
    }
  }
}

*::-webkit-scrollbar, *::-webkit-scrollbar-button, *::-webkit-scrollbar-track, *::-webkit-scrollbar-track-piece, *::-webkit-scrollbar-thumb, *::-webkit-scrollbar-corner, *::-webkit-resizer {
  background: transparent;
}
*::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}
*::-webkit-scrollbar-track-piece {
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #858585;
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.connectionErrorModal {
  z-index: 100;
  background-color: #00000000 !important;
  box-shadow: none;
}


input[type=text],
input[type=email],
input[type=password] {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  user-select: text;
  text-align: center;
  font-size: 26px;
  padding: 6px;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: #4a4a4a;
  background-color: #e5e3e3;
  border-radius: 10px;
}
input[type=text][disabled],
input[type=email][disabled],
input[type=password][disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.login-modal,
.signup-modal {
input {
  font-size: 20px;
}
}

a {
  color: #6eef95;
  text-decoration: none;
}
a:hover {
  color: #29e763;
}
a:active {
  color: #16c74c;
}

.altLink {
  color: #6eef95;
  font-size: 24px;
  text-decoration: none;
}
.altLink:hover {
  color: #40ea73;
}
.altLink:active {
  color: #19de54;
}

.inline {
  display: inline-block;
}

span {
  font-size: inherit;
}

.material-icons {
  vertical-align: sub;
}

.ui-icon {
  font-size: 30px;
  vertical-align: middle;
}



.mainMenu {
  background-color: rgb(44, 118, 22);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.mainMenu.loaded {
  background-color: rgba(0, 0, 0, 0.507);
  display: block;
}

#menuContainer {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  pointer-events: auto;

}

#contentt {
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.menuCard {
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  padding: 18px;
  overflow: hidden;
}

.menuHeader {
  font-size: 24px;
  color: #dadada;
  margin-bottom: 5px;
}

.menuSubheader {
  font-size: 20px;
  color: #dadada;
  margin-bottom: 3px;
}

.menuText {
  font-size: 18px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.menuLink {
  font-size: 20px;
}

#gameName {
  font-size: 110px;
  text-shadow: #474747 3px 5px 2px;
  color: #fff;
}

.menuButton {
  text-align: center;
  font-size: 23px;
  padding: 6px;
  box-sizing: border-box;
  color: #fff;
    background-color: rgb(22, 143, 22);
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 -8px 0 rgba(0, 0, 0, 0.2941176471);
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  transform: scale(1);
}
.menuButton:hover {
  transform: scale(1.05);
}
.menuButton:active {
  transform: scale(0.95);
}

#topRight1 {
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
  font-size: 24px;
  text-decoration: none;
}

#topRight2 {
  position: absolute;
  top: 54px;
  right: 20px;
  cursor: pointer;
}

#settingsButton,
#githubButton,
#discordButton,
#playlightButton {
  position: absolute;
  cursor: pointer;
  line-height: 20px;
  bottom: 12px;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
  height: auto;
}

#settingsButton:hover,
#githubButton:hover,
#discordButton:hover,
#playlightButton:hover {
  transform: scale(1.05);
}

#settingsButton:active,
#githubButton:active,
#discordButton:active,
#playlightButton:active {
  transform: scale(0.95);
}

#settingsButton {
  left: 12px;
}

#githubButton {
  left: 87px;
}

#discordButton {
  left: 162px;
}

#playlightButton {
  font-size: 17px;
  text-align: center;
  color: #fff;
  left: 237px;
  height: 60px;
}

.fullWidth {
  width: 100%;
}

#menuCardHolder #adBelow {
  height: auto !important;
  position: absolute;
  bottom: auto;
  // center the ad
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: 'inline-block' !important;
}
#menuCardHolder .menu {
  display: flex;
}
#menuCardHolder .menu * {
  box-sizing: border-box;
}
#menuCardHolder .menu a {
  cursor: pointer;
}
#menuCardHolder .menu #nameInput {
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
  transform: scale(1);
}
#menuCardHolder .menu #nameInput:focus {
  transform: scale(1.05);
}
#menuCardHolder .menu #serverInfo {
  margin-bottom: 8px;
  text-align: center;
}
#menuCardHolder .menu .joinCard {
  width: 375px;
}
#menuCardHolder .menu .accountCard {
  width: 310px;
}
#menuCardHolder .menu .announcementCard {
  color: white;
  text-align: center;
  font-size: 19px;
  width: 1000px;
  height: 58px;
  position: fixed;
    top: -6%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#menuCardHolder .menu .announcementCard .announcedate {
  color: #999999;
  font-size: 17px;
}

#menuCardHolder .menu .announcementCard .announceimportant {
  color: yellow;
}

#menuCardHolder .menu .announcementCard .announcewarning {
  color: red;
}

#menuCardHolder .menu .forumCard {
  width: 310px;
  padding: 0;
}

#linksContainer {
  position: absolute;
  bottom: 12px;
  left: 12px;
  text-align: right;
  font-size: 20px;
}

#loadingText {
  font-size: 45px;
  color: #fff;
  text-align: center;
}
#loadingText a {
  display: block;
}

.joinCardInput {
  width: 100%;
}
.joinCardInput #nameInput,
.joinCardInput #enterGame {
  height: 44px;
  top: 50%;
  width: 100%;
  margin-bottom: 10px;
}
.joinCardInput #enterGame {
  height: 74px;
  font-size: 48px;
  line-height: 50px;
  // background-image: url("../img/ui/bg.png");
  background-position: 0px 0px;
  // background-repeat: repeat;
  // animation: animatedBackground 500s linear infinite;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 20000px;
  }
}

.joinCardContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.account-badge {
  height: 1.5em;
  -webkit-user-drag: none;
  margin-right: 4px;
}

#serverBrowser {
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
  color: rgb(70, 70, 70);
  background-color: #f7faf6;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.title-img {
  position: fixed;
  user-select: none;
  pointer-events: none;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -120%);
}

// Special handling for small desktop iframes (like CrazyGames)
#menuCardHolder.small-iframe {
  transform: translate(-50%, -25%) scale(0.75) !important;

  .menu {
    flex-direction: row !important;
  }

  #adBelow {
    display: none;
  }

  .tipCard {
    display: none !important;
  }
}

// Scale down title image for small iframes
body:has(#menuCardHolder.small-iframe) .title-img {
  transform: translate(-50%, -100%) scale(0.75) !important;
}

@media only screen and (min-width: 800px) and (max-width: 1080px) and (min-height: 450px) and (max-height: 650px) {
  #menuCardHolder {
    transform: translate(-50%, -25%) scale(0.6) !important;
  }

  #menuCardHolder .menu {
    flex-direction: row !important;
  }

  #menuCardHolder .menuCard {
    width: 400px !important;
  }

  #menuCardHolder #adBelow {
    display: none;
  }

  .title-img {
    transform: translate(-50%, -90%) scale(0.65) !important;
  }
}

@media only screen and (max-width: 1040px) {
  #menuCardHolder #adBelow {
    display: none;
  }
  .forumCard {
    display: none;
  }

  .title-img {
    top: -70%;
    transform: translate(-50%, -160%);
  }
}

@media only screen and (max-width: 1040px) and (max-height: 449px),
       only screen and (max-width: 1040px) and (min-height: 651px),
       only screen and (max-width: 799px) {
  // only apply stacking on non-landscape or mobile
  #menuCardHolder:not(.small-iframe) .menu {
    flex-direction: column;
  }
  #menuCardHolder:not(.small-iframe) .menu .menuCard {
    width: 85vw !important;
  }
  #menuCardHolder:not(.small-iframe) .menu .joinCard {
    order: -1;
  }
  .tipCard {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  #menuCardHolder #adBelow {
    display: none;
  }
  #loadingText {
    margin-top: 20px;
  }
  #mainMenu {
    overflow: scroll;
  }
  #gameName {
    font-size: 55px;
    line-height: 2;
  }
  #gameName-mobile {
    display: initial !important;
  }
  #setupCard {
    width: 260px;
    margin-top: 4px;
  }
  #topRight1 {
    top: 8px;
    left: 33%;
    right: inherit;
    transform: translateX(-50%);
  }
  #topRight2 {
    top: 8px;
    left: 66%;
    right: inherit;
    transform: translateX(-50%);
  }
  #linksContainer {
    display: none;
  }
  .title-img {
    top: -90%;
    transform: translate(-50%, -200%);
  }
}