.loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #333333;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease-in-out;

  .loading-container {
    width: 400px;
    text-align: center;

    .loading-text {
      color: #ffffff;
      font-size: 45px;
      margin-bottom: 10px;
      text-shadow:
        -2.75px -2.75px 0 #000,
        2.75px -2.75px 0 #000,
        -2.75px 2.75px 0 #000,
        2.75px 2.75px 0 #000,
        -2.75px 0 0 #000,
        2.75px 0 0 #000,
        0 -2.75px 0 #000,
        0 2.75px 0 #000;
    }

    .progress-bar {
      width: 100%;
      height: 28px;
      box-sizing: border-box;
      padding: 5px;
      background-color: #403f3f;
      border-radius: 14px;
      box-shadow: 0 0 0 3px #53e08a, 0 0 0 6px #000;

      .progress {
        height: 100%;
        border-radius: 999px;
        background: linear-gradient(180deg, #59ff59 0%, #59ff7d 45%, #10ff30 45%, #10ff1c 100%);
        transition: width 0.15s linear;
      }
    }

    p {
      color: white;
    }
  }
}
