/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Modal Styles */
.shop-modal {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  max-width: 1000px;
  margin: 20px auto;
  background: linear-gradient(to bottom left, #0a3e0a 5%, green 100%);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  /* White text color for modal */

}

/* Skins Container Styles */
.skins {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
  align-content: flex-start;
}

.shop-title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  /* Adjusting header color to fit modal style */
  margin: 0;
}

.shop-desc {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  /* Adjusting header color to fit modal style */
  margin: 0;
  margin-bottom: 10px;
}

.gem {
  transform: translate(0, 25%);
}

/* Skin Card Styles */
.skin-card {
  margin: 10px;
  border-radius: 10px;
  background-color: #272727;
  /* Dark background for cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25);
  width: 200px;

  .skin-name {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .skin-img {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
  }

  .skin-count {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .buy-button {
    color: #ffffff;
    padding: 0.8rem;
    margin-top: 5px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

// low height
@media screen and (max-height: 600px) {

  .skin-card {
    margin: 5px;

    .skin-img {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    .skin-name {
      font-size: 20px;
      margin: 0;
    }

    .skin-count {
      font-size: 15px;
      margin: 0;
    }

    .buy-button {
      font-size: 12px;
      margin: 0;
      margin-top: 5px;
      padding: 0.2rem;
    }

    .skin-desc {
      font-size: 12px;
      margin: 0;
    }

  }

  .shop-title {
    font-size: 20px;
  }

  .shop-desc {
    font-size: 15px;
  }
}

/* General Styling Adjustments */
h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  /* Adjusting header color to fit modal style */
}

.highlight {
  background-color: yellow;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar input {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 15px;
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input::placeholder {
  color: #aaa;
}

.badges {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.badges button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.badges button.active {
  background-color: yellow;
  border: 3px solid #000;
}