#chat {
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .14);
  background-color: AliceBlue;
  padding: 3px 6px;
  font-size: 1vw;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
