#chat {
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .14);
  background-color: AliceBlue;
  padding: 3px 6px;
  font-size: max(min(1.5vw, 36px), 24px);
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
