.leaderboard {
  position: fixed;
  top: 10px;
  right: 10px;
  width: fit-content;
  padding: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  transform: scale(8);
  transform-origin: top right;
  user-select: none;
  pointer-events: none;

  .leaderboard-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 22px;
    pointer-events: all;

    &:hover {
      cursor: pointer;

      .lb-arrow {
        transition: transform 0.1s ease;
      }
    }

    &.open:hover .lb-arrow {
      transform: translateY(2px);
    }
    &.closed:hover .lb-arrow {
      transform: translateY(-2px);
    }

    .lb-arrow {
      font-size: 16px;
      display: inline-block;
      transition: transform 0.1s ease;
    }
  }

  .leaderboard-content {
    opacity: 1;
    transition: all 0.2s ease-in;

    &.hidden {
      opacity: 0;
    }
  }
}

.leaderboard-line {
  display: block;
  font-size: 20px;
  white-space: nowrap;
}
